<div class="container mt-5">
    <h2 class="text-center mb-4">SHOP BY CATEGORY</h2>
<div class="row g-4">
    <div class="col-md-4 col-lg-2" *ngFor="let category of categories">
        <div class="category-card">
            <img [src]="category.image" class="card-img-top" [alt]="category.alt">
            <div class="card-body text-center">
                <h5>{{ category.title | titlecase }}</h5>
                <p class="discount-text">{{ category.discount }}</p>
                <a href="dashboard/productList/{{category.title}}" class="btn btn-outline-dark">Shop Now</a>
            </div>
        </div>
    </div>
</div>

</div>
