<div class="wishlist-container">
  <h1 class="wishlist-title">My Wishlist <span>{{products.length}} items</span></h1>
  
  <div class="wishlist-grid">
    <!-- Yellow Dress -->
    <div class="wishlist-item" *ngFor="let product of products">
      <div class="item-image-container">
        <img src="{{product.image}}" alt="{{product.name}}" (error)="onImageError($event)">
        <button class="remove-btn" (click)="removeWishlist(product)">×</button>
      </div>
      <h3 class="item-title">{{product.name}}</h3>
      <div class="price-container">
        <span class="discounted-price">{{product.currentPrice | currency:'₹ '}}</span>
        <span class="original-price">{{product.originalPrice | currency:'₹ '}}</span>
        <span class="discount-tag">{{ product.originalPrice | discount:product.currentPrice }}</span>
      </div>
    </div>

  </div>
</div>
