<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<nav class="navbar navbar-expand-lg" >
  <div class="container-fluid">
      <!-- Brand Logo -->
      <a class="navbar-brand" href="/dashboard">
          <div class="logo-container">
              <span class="logo-text">E</span>
              <span class="logo-text">S</span>
          </div>
      </a>
      
      <!-- Updated Toggle Button -->
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" 
              data-bs-target="#navbarContent" aria-controls="navbarContent" 
              aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      
      <!-- Updated Navbar Content -->
      <div class="collapse navbar-collapse" id="navbarContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item" *ngFor="let option of menu"><a class="nav-link" href="/dashboard/productList/{{option.name}}">{{option.name | uppercase}}</a></li>
          </ul>
          
          <div class="d-flex flex-column flex-lg-row align-items-stretch align-items-lg-center w-95 gap-3 py-2">
              <!-- Search bar -->
              <div class="flex-grow-1">
                  <input type="text" class="form-control" placeholder="Search here">
              </div>
              
              <!-- Icons -->
              <div class="icon-container d-flex align-items-center gap-3">
                <a (click)="gotoAction('signin')" *ngIf="!isUserStatus" class="nav-link" aria-label="sign-in">
                    <i class="fa-solid fa-right-to-bracket"></i>
                </a>
                <a (click)="gotoAction('signup')" *ngIf="!isUserStatus" class="nav-link" aria-label="sign-up">
                    <i class="fa-solid fa-user-plus"></i>
                </a>
                
                  <a href="#" class="nav-link" aria-label="Profile">
                      <i class="far fa-user"></i>
                  </a>
                  <a href="#" class="nav-link" aria-label="Wishlist">
                      <i class="far fa-heart"></i>
                  </a>
                  <a href="#" class="nav-link position-relative" aria-label="Shopping Cart">
                      <i class="fa-solid fa-bag-shopping"></i>
                      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">1</span>
                  </a>
                  <a (click)="logoutUser()" *ngIf="isUserStatus" class="nav-link" aria-label="logout">
                    <i class="fa-solid fa-right-from-bracket"></i>
                  </a>
              </div>
          </div>
      </div>
  </div>
</nav>

