.rating {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 15px;
    color: #fbc02d;
  }
  .rating span {
    color: #333;
    /* font-weight: bold; */
    margin-left: 8px;
  }
  